<h1>Gridmailer#index</h1>
<p>Find me in app/views/gridmailer/index.html.erb</p>


<h1>
<%= link_to "mail", gridmailer_themail_path %>

</h1>

<h1>


<%= link_to "Message" ,gridmailer_messaagehome_path%>

</h1>
