<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="single-animate animate-press-1">Contact Us!</h2>
        <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
          <h3>If you have any query or suggestions, drop us a line.</h3>
        </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="">
          <div class="form-group">
            <label class="label-control"><h3>Email:</h3></label>
            <input type="text" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label class="label-co
            ntrol"><h3>Message:</h3></label>
             <textarea class="form-control" rows="5" id="message" placeholder="Enter Message"></textarea>
          </div>
          <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
            <a href="#" class="btn btn-primary btn-block">Submit</a>
          </div>
        </form>
      </div>
     </div>
</div>