<div class="owl-carousel owl-carousel-fullwidth">
  <!-- You may change the background image here.  -->
    <div class="item" style="background-image:url(assets/11.jpg);">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Incentivized social sharing!</h1>
              <h2 class="fh5co-sub-lead to-animate"><a href="#" id="sign-up" onclick="fbLogin();">Sign Up</a> and Maximize revenue from the content you share online</h2>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- You may change the background color here. -->
    <div class="item" style="background-image:url(assets/8.jpg)">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">Our Content. Your Audience. Monetize!</h1>
              <h2 class="fh5co-sub-lead to-animate"><a href="#" id="sign-up" onclick="fbLogin();">Register here</a>  to share viral stories with your friends & followers to make money.
              </h2>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>