<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="box to-animate">
        <div class="icon colored-1"><span><i class="fa fa-users"></i></span></div>
        <h3>Highest payment PPC network</h3>
        <p>Get paid not just for clicks but also for likes, comments, shares (on Facebook) and favorites and retweets (on Twitter). Since we launched 2 months back, ViralCents has paid lakhs of Indian Rupees.</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-3"><span><i class="fa fa-money"></i></span></div>
        <h3>Redeem cash on demand</h3>
        <p>Want to recharge your phone urgently? Looking for some discount coupons? Don't worry, we got you covered. Use the money you earned on our platform to recharge your phone or to redeem coupons anytime!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box to-animate">
        <div class="icon colored-6"><span><i class="fa fa-rocket"></i></span></div>
        <h3>Loyalty Bonuses</h3>
        <p>Double earnings if you get high traffic or if you get featured in ViralCents leaderboard.</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-4"><span><i class="fa fa-desktop"></i></span></div>
        <h3>Targeted content</h3>
        <p>Content available from many categories and publishers. Tap into one of the largest pools of advertisers in the world. No matter how broad or niche your website is, we will always have content relevant to your social media account.</p>
      </div>
    </div>
  </div>
</div>