<div class="modal fade" id="pp-modal" tabindex="-3" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
          <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-One">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-One" aria-expanded="true" aria-controls="collapse-One">
                    Your privacy is important to us!
                  </a>
                </h4>
              </div>
              <div id="collapse-One" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-One">
                <div class="panel-body">
                  By using our service, you agree to the below privacy policy. If you do not agree to this policy, we advise you to cease using the
                  service as provided for in the ViralCents Terms of Service.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Two">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Two" aria-expanded="false" aria-controls="collapse-Two">
                    Your Information
                  </a>
                </h4>
              </div>
              <div id="collapse-Two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Two">
                <div class="panel-body">
                  <p>
                    ViralCents collects information on you to, i.a., customize the content you see, fulfill
                    your requests for products and services, remit your earnings, improve our services
                    and contact you for other reasons. ViralCents also allows its users to create profiles
                    on the ViralCents service. ViralCents collects two types of information:
                  </p>
                  <ol>
                    <li>
                      <h4>Information We Explicitly Request</h4>
                      <p>
                        In order to sign up for a ViralCents account and use the service, we require some
                        simple information like your email­address and/or account authorization via
                        Facebook. When you enter this information, ViralCents stores it so your account
                        may persist, and to help us keep a record of your activities on the service.
                        Additionally, ViralCents may request and collect financial information including
                        your tax ID or other information necessary to receive or render payment for
                        advertising services or other services.
                      </p>
                    </li>
                    <li>
                      <h4>Information Provided From the Use of Our Service</h4>
                      <p>
                        Occasionally ViralCents will collect certain kind of information about how/when
                        you use the service or post an ad to a social media property. This information
                        includes:
                      </p>  
                        <ul>
                          <li>
                            Log Information - This can include details of how you used the service/arrived at the service, your IP address, and cookies which may uniquely identify your account or browser.    
                          </li>
                          <li>
                            Device Information -­ In order to better serve our customers, ViralCents occasionally collects data about the types of devices which access our service, including hardware models, operating system versions, unique device identification and mobile network information.
                          </li>
                          <li>
                            Location Information ­- When you access the ViralCents service from a device, or
                            connect a location­aware social media account, ViralCents may store location
                            information in order to better serve our users and customers.
                          </li>
                          <li>
                            Local storage - We may collect and store information ­ including personally
                            identifiable information ­ locally on your device, using cookies, browser web
                            storage, and application data caches, among other sources.
                          </li>
                        </ul>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Three">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Three" aria-expanded="false" aria-controls="collapse-Three">
                    Information Sharing
                  </a>
                </h4>
              </div>
              <div id="collapse-Three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Three">
                <div class="panel-body">
                  <p>
                    ViralCents does not rent, sell, or share personal information about you with other
                    people or non­affiliated companies except to provide products or services you've
                    requested, for executing payments to you, when we have your permission, or when
                    we respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims. If ViralCents becomes involved in a
                    merger, acquisition, or any form of sale of some or all of its assets, we will seek to
                    provide notice before personal information is transferred and becomes subject to a
                    different privacy policy.
                  </p>
                  <p>
                    ViralCents may combine information we obtain from business partners or other
                    companies, such as our social media partners, with information ViralCents has
                    collected about you in order to serve you better or optimize the functions of the
                    Service. Furthermore, ViralCents may share generic information not linked to any
                    personal identification information regarding visitors and users with our business
                    partners, affiliates and advertisers.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Five">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Five" aria-expanded="false" aria-controls="collapse-Five">
                    Transfer of Information
                  </a>
                </h4>
              </div>
              <div id="collapse-Five" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Five">
                <div class="panel-body">
                  ViralCents may transfer and store any personal information about you in any
                  location worldwide where the service is hosted at any given time. ViralCents shall
                  always comply with any and all applicable laws and regulations relating to cross-
                  border transfer of personal information. By using the service you consent to the
                  transfer of your personal information in accordance with this policy.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Six">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Six" aria-expanded="false" aria-controls="collapse-Six">
                    Cookies
                  </a>
                </h4>
              </div>
              <div id="collapse-Six" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Six">
                <div class="panel-body">
                  <p>
                    ViralCents may set and access cookies on your computer. ViralCents uses these cookies in connection with ViralCents products and services for the purposes specified in this policy. By setting your browser to accept cookies, you understand and accept the use of cookies by ViralCents.
                  </p>
                  <p>
                    In the event you do not agree, we advise you to set your browser to reject cookies.
                    However, the service will not work as intended, and we cannot guarantee and take
                    no responsibility for the service working correctly, or for our ability to correctly pay
                    you for any earnings while cookies have been disabled.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Seven">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Seven" aria-expanded="false" aria-controls="collapse-Seven">
                    Contents of Items
                  </a>
                </h4>
              </div>
              <div id="collapse-Seven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Seven">
                <div class="panel-body">
                  The contents of any item that you post directly to the service, including any text,
                  images, photos, videos and audio, are stored and maintained on our servers in order
                  to publish these items and provide the service. Your submitted content will be
                  associated with your account.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Eight">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Eight" aria-expanded="false" aria-controls="collapse-Eight">
                    Confidentiality and Security
                  </a>
                </h4>
              </div>
              <div id="collapse-Eight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Eight">
                <div class="panel-body">
                  We limit access to personal information about you to employees or third­party
                  agents who we believe reasonably need to come into contact with that information to
                  provide products or services to you or in order to do their jobs. These individuals are
                  bound by confidentiality obligations and may be subject to discipline, including
                  termination and criminal prosecution, if they fail to meet these obligations.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Nine">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Nine" aria-expanded="false" aria-controls="collapse-Nine">
                    Storing and Deleting Information
                  </a>
                </h4>
              </div>
              <div id="collapse-Nine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Nine">
                <div class="panel-body">
                  We store data for as long as it is necessary to provide products and services to you
                  and others, including those described above. Information associated with your
                  account will be kept until we no longer need the data to provide products and
                  services.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-Ten">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-Ten" aria-expanded="false" aria-controls="collapse-Ten">
                    Third Party Sites
                  </a>
                </h4>
              </div>
              <div id="collapse-Ten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-Ten">
                <div class="panel-body">
                  This policy only applies to the ViralCents website and services. We do not exercise
                  control over the sites that our service links to. These other sites may place their own
                  cookies or other files on your computer, collect data or solicit personal information
                  from you. We encourage you to read such privacy policies of any third­party sites
                  you visit. It is the sole responsibility of such third parties to adhere to any applicable
                  restrictions on the disclosure of your personally­identifying information, and
                  ViralCents shall not be liable for illegal use or disclosure of your personally-
                  identifying information by any third party.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-11">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                    Financial Information
                  </a>
                </h4>
              </div>
              <div id="collapse-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-11">
                <div class="panel-body">
                  Financial information, including your Paypal account information or other payment
                  information, credit card details and other financial information is stored using
                  industry­-standard security by ViralCents and will not be shared with third parties
                  except where such parties are necessary to process payment.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading-12">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                    Changes to this Privacy Policy
                  </a>
                </h4>
              </div>
              <div id="collapse-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-12">
                <div class="panel-body">
                  ViralCents may update this policy to be consistent with industry best practices and to
                  better serve our users and customers. This privacy policy may be updated from time
                  to time. We will notify you of any material changes by posting the new privacy
                  policy on the ViralCents web site. You are advised to consult this policy regularly
                  for any changes. We will post any privacy policy changes on this page and maintain
                  a "last updated" date. In the event you do not agree to changes to the privacy policy,
                  we advise you to discontinue use of the service in accordance with the Terms of
                  Service.
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>