<div class="modal fade" id="tc-modal" tabindex="-2" role="dialog" aria-labelledby="ModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Terms And Conditions</h4>
      </div>
      <div class="modal-body">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Terms of Service:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                <div class="panel-body">
                  <p>By Using ViralCents (www.viralcents.com), a service of ViralCents Inc., you accept the
                  	following terms and conditions.</p>

                  <p>If you accept or agree to these terms on behalf of a company or other legal entity, you
                  	represent and warrant that you have the authority to bind that company or other legal
                  	entity to these terms and, in such an event, YOU and YOUR will refer and apply to that
                  	company or other legal entity.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    What is ViralCents:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                  	<p>It is a network which empowers it's affiliate to get most out of their web
                  	   properties(Facebook, twitter etc.) using it's state of art traffic monitoring system and
                  	   competitive CPM rates.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Affiliate Requirement:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                  <p>You agree that any and all information you have provided during ViralCents Registration
                  	Process is true, accurate and complete. You also agree to update your personal information if required. ViralCents reserves the right to suspend or terminate your account, in whole or in part, or prohibit your further use of the service, at any time, if any suspicious activity is noticed in your account.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    Account Password and Security:
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="panel-body">
                  	<p>Upon completing the registration process you will receive a password and account ID.
						You and you alone are solely responsible for maintaining the confidentiality of your
                  		password and information associated with your account that you desire to remain
                  		confidential. We do not save your password, it is encrypted as soon as it is created. So
                  		your account is safe and can not be hacked. You also agree that you are responsible for
                  		any and all activities that may take place, or occur under your password and account. You further agree to notify ViralCents in the event your password or account has been used without the proper authorization or there are other breaches of security of which you become aware. ViralCents will not be responsible or liable for any loss or damage
                  		incurred. ViralCents prohibits the sale or transfer of control of any ViralCents account by the registered account holder to any other individual or party.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    ViralCents Program Rules:
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="panel-body">
                  <ul>
                  	<li>
                  		Your account will be banned as soon as you start spamming a link.
                  	</li>
                  	<li>
                  		Your account will be banned if any invalid activity is found in your account.
                  	</li>
                  	<li>
                  		You can not mislead the audience, change the thumbnail or any text part.
                  	</li>
                  	<li>
                  		Your account will be blocked if we detect any bot or fake traffic from your account. Also if you generate clicks or impressions through any automated, deceptive, fraudulent or other malicious means, your account will be banned.
                  	</li>
                  	<li>
                  		We count only one click per link from each IP in a day. Repeated clicks from same IP will not be counted.
                  	</li>
                  	<li>
                  		We will ban your account if you engage in any action or practice that devalues ViralCents reputation or goodwill.
                  	</li>
                  	<li>
                  		High bounce rate (above 65%) is a direct indication of suspicious activity
                  		and so is not allowed on ViralCents. Your account might be banned due an
                  		unusually high bounce rate also.
                  	</li>
                  </ul>
                  <p>
	                  	In case of violating any rules as described in the agreement, ViralCents reserves the right to suspend or terminate your account, in whole or in part, or prohibit your further use of the service, at any time, without giving any prior notice, and all the money in your account will be seized.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    Earnings and Payments :
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                  <p>You agree to provide ViralCents with information to enable remittance of your earning on
                  	the site. ViralCents reserves the right to process payment for services rendered. By using
                  	the service, the user agrees to pay any fees accrued. All amounts listed on ViralCents
                  	platform are in Indian Rupees (INR).</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
