<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Social Influencers Says...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“All I do is share one article from <a href="https://twitter.com/ViralCents">@viralcents</a> with my friends daily and it covers my monthly mobile recharge amount! Hell yea..Must use!.”</p>&mdash; Akshay Verma (@akshaysahab) <a href="https://twitter.com/akshaysahab/status/723853982607761408">April 23, 2016</a></blockquote>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I love <a href="https://twitter.com/ViralCents">@viralcents</a> referral system. I invited my friends and get paid for their activity as well! Covers all my monthly expenses .</p>&mdash; Adisha Porwal (@AdishaPorwal) <a href="https://twitter.com/AdishaPorwal/status/723486764720074753">April 22, 2016</a></blockquote>
      </div>          
    </div>
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“<a href="https://twitter.com/ViralCents">@viralcents</a> is my personal ATM <a href="https://twitter.com/hashtag/AllTimeMoney?src=hash">#AllTimeMoney</a>. I get paid for clicks as well as for shares/likes/comments..”</p>&mdash; Swati Jaiswal (@swati12jaiswal) <a href="https://twitter.com/swati12jaiswal/status/723849404789231616">April 23, 2016</a></blockquote>
      </div>
    </div>
  </div>
</div>