<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Social Influencers Says...</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote>
          <span class="quote"><span><i class="icon-quote-left"></i></span></span>
          <p>&ldquo;All I do is share one article from @viralcents with my friends daily and it covers my monthly mobile recharge amount! Hell yea... Must use!.&rdquo;</p>
        </blockquote>
        <p class="author">Vishal Chaudhary</p>
      </div>  
    </div>
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote>
          <span class="quote"><span><i class="icon-quote-left"></i></span></span>
          <p>&ldquo;I love @viralcents referral system. I invited my friends and get paid for their activity as well! Covers all my monthly expenses <i class="fa fa-thumbs-up"></i>.&rdquo;</p>
        </blockquote>
        <p class="author">Siddharth Pal</p>
      </div>          
    </div>
    <div class="col-md-4">
      <div class="box-testimony to-animate">
        <blockquote>
          <span class="quote"><span><i class="icon-quote-left"></i></span></span>
          <p>&ldquo;@viralcents is my personal ATM #AllTimeMoney Unlike other PPC networks, I dont get paid just for clicks but also for shares/likes/comments..<i class="fa fa-smile-o"></i>&rdquo;</p>
        </blockquote>
        <p class="author">Neetu Gupta</p>
      </div>
    </div>
  </div>
</div>