<!-- home -->
<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <!-- You may change the background image here.  -->
      <div class="item" style="background-image:url(assets/slide_5.jpg)">
        <div class="overlay"></div>
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text">
                  <h1 class="fh5co-lead to-animate">Just Share To Get Your Share!</h1>
                <h2 class="fh5co-sub-lead to-animate"><a href="#" style="color: rgb(97, 115, 244); text-decoration:none">Register Here</a> To Join Our Social Sharing Army</h3>
                <p class="to-animate-2"><a href="#" data-nav-section="about" class="btn btn-primary btn-lg">Wait, But how?</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- You may change the background color here. -->
      <div class="item" style="background: #352f44;">
        <div class="container" style="position: relative;">
          <div class="row">
            <div class="col-md-7 col-sm-7">
              <div class="fh5co-owl-text-wrap">
                <div class="fh5co-owl-text">
                  <h1 class="fh5co-lead to-animate">Be A Part Of ViralCents</h1>
                <h2 class="fh5co-sub-lead to-animate"> We'll help you to get the right value for your Share</h3>
                <p class="to-animate-2"><a href="#" onclick="fbLogin();" class="btn btn-primary btn-lg">Register Here, It's Free</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
              <div class="iphone to-animate-2"><img src="assets/sm.jpg" alt="Free HTML5 Template by FREEHTML5.co"></div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
<!-- \.home -->

<!-- about -->
  <div id="fh5co-about-us" data-section="about">
    <div class="container">
      <div class="row row-bottom-padded-lg" id="about-us">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">About Us</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 to-animate">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-8 to-animate">
          <img src="assets/img_1.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
        </div>
        <div class="col-md-4 to-animate">
          <h2>How we got started</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>
          <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-our-services" data-section="services">
    <div class="container">
      <div class="row row-bottom-padded-sm">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Social Influencers</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 to-animate">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box to-animate">
            <div class="icon colored-1"><span><i class="icon-users"></i></span></div>
            <h3>100% free</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="box to-animate">
            <div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
            <h3>Made with love</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box to-animate">
            <div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
            <h3>Fully responsive</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
          <div class="box to-animate">
            <div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
            <h3>Fast &amp; light</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box to-animate">
            <div class="icon colored-3"><span><i class="icon-eye"></i></span></div>
            <h3>Retina-ready</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
          <div class="box to-animate">
            <div class="icon colored-6"><span><i class="icon-user"></i></span></div>
            <h3>For creative like you!</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.about -->

  <!-- features -->
  <div id="fh5co-features" data-section="features">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="single-animate animate-features-1">Features</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-bottom-padded-sm">
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-present"></i></div>
          <div class="fh5co-desc">
            <h3>100% Free</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-eye"></i></div>
          <div class="fh5co-desc">
            <h3>Retina Ready</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="clearfix visible-sm-block visible-xs-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-crop"></i></div>
          <div class="fh5co-desc">
            <h3>Fully Responsive</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-speedometer"></i></div>
          <div class="fh5co-desc">
            <h3>Lightweight</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="clearfix visible-sm-block visible-xs-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-heart"></i></div>
          <div class="fh5co-desc">
            <h3>Made with Love</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
          <div class="fh5co-icon"><i class="icon-umbrella"></i></div>
          <div class="fh5co-desc">
            <h3>Eco Friendly</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="clearfix visible-sm-block visible-xs-block"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
          <a href="#" class="btn btn-primary btn-block">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ./features -->


  <div id="fh5co-press" data-section="press">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2 class="single-animate animate-press-1">Contact Us!</h2>
            <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
              <h3>If you have any query or suggestions, drop us a line.</h3>
            </div>
        </div>
      </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <form action="">
              <div class="form-group">
                <label class="label-control"><h3>Email:</h3></label>
                <input type="text" class="form-control" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <label class="label-co
                ntrol"><h3>Message:</h3></label>
                 <textarea class="form-control" rows="5" id="message" placeholder="Enter Message"></textarea>
              </div>
            </form>
          </div>
         </div>
    </div>
  </div>

