<!--email template for wallet info-->
<style>
.table
{
  style="border-collapse:collapse; height:100%; margin:0; padding:0; width:100%; font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif !important; font-weight: 300; mso-table-lspace:0pt; mso-table-rspace:0pt;"
}
</style>
<span style="color: #7f7f7f;line-height: 30px;font-size:20px;font-family:Helvetica">
    <br>  
    See Your Earnings on ViralCents
    <hr style="border: 1px solid #EEEEEE;">
    <div style="text-align:center">
        <button style="background-color:#d5d5d5;color:#323232;border:10px;padding: 20px 40px 20px 38px;margin-bottom:4px;">
        	This Week Earning   <br><b><%=@week_earning%> Rs </b>
        </button>
        <button style="background-color:#d5d5d5;color:#323232;border:10px;padding: 20px 30px 20px 20px">
        	Current Wallet Balance<br><b><%=@user_bal%> Rs </b>
        </button>
    </div>
    <br>
    <span style="color: #7f7f7f;line-height: 30px;font-size:20px;font-family:Helvetica">
        <br>
		Keep sharing and earning.
		<hr style="border: 1px solid #EEEEEE;">
        <div style="text-align:center">
            <button style="background-color:#6173f4;color:#fff;border:10px;padding: 10px 10px 10px;margin-bottom:4px"> 
                <b>Recharge Account Now</b>
            </button>
            <button style="background-color:#6173f4;color:#fff;border:10px;padding: 10px 10px 10px"> 
                <b>Earn More Money</b>
            </button>
        </div>
    </span>
</span>

                              