<div id="popover_content_wrapper" style="display: none">
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Like - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Share - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Comment - 3&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>ReTweet - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Favorite - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Converstion - 3&#8377;   
    </a>
</div>
