<!-- Search, Filter Panel for stories -->

<!-- row -->
<div class="row filter-row">
    <!-- panel -->
    <div class="panel panel-default">
        <!-- panel-body -->
        <div class="panel-body">
            <!-- form -->
            <form class="form-inline" role="form">

                <!-- form group [search] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-search">Search:</label>
                    <input type="text" class="form-control input-sm search" id="pref-search" placeholder="Enter Keyword">
                </div>

                <!-- form group [Category] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="filter-category">Category:</label>
                    <%= select_tag "category", options_from_collection_for_select(categories, "id", "name"),prompt: "Select a category",selected: selected, class: "form-control", id: "filter-category", name: "category",onchange: 'form.submit();'%>
                </div> 

                <!-- form group [order by] --> 
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-orderby">Order by:</label>
                    <select id="pref-orderby" class="form-control">
                        <option>Descending</option>
                        <option value="ascending">Ascending</option>
                    </select>                                
                </div> 

            </form>
        </div>
        <!-- ./panel-body -->
    </div>
    <!-- ./panel -->
</div>
<!-- ./row -->
