    <!-- social connect -->
    <div class="row text social-row">
        <div class="col-xs-offset-2 col-xs-4">
            <a class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Connect with Twitter
            </a>
        </div>
        <div class="col-xs-4">
            <a class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Connect with Facebook
            </a>
        </div>
    </div>
    <!-- Statistics -->
    <div class="row stats">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="huge">13</div>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-newspaper-o fa-5x"></i>
                        </div>
                        <div class="col-xs-12">
                            <div class="medium">Shared Stories</div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="huge">120</div>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-rupee fa-5x"></i>
                        </div>
                        <div class="col-xs-12">
                            <div class="medium">Balance</div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="huge">10</div>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-rupee fa-5x"></i>
                        </div>
                        <div class="col-xs-12">
                            <div class="medium">Earning This Week</div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="huge">60000</div>
                        </div>
                        <div class="col-xs-6">
                            <i class="fa fa-rupee fa-5x"></i>
                        </div>
                        <div class="col-xs-12">
                            <div class="medium">Withdrawl</div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>

    <div class="row admin-row">
        <div class="col-lg-12">
                <h2 class="page-header">Featured Stories</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>