<div class="table-responsive">
    <h2>LEADERBOARD</h2>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center"># Rank</th>
                <th class="text-center">Name</th>
                <th class="text-center">Earnings (in &#8377;)</th>
            </tr>
        </thead>
        <tbody>
        <% @data.each_with_index do |d,i|%>
            <tr>
                <td><%=i+1%></td>
                <td>XXXX</td>
                <td><%= d%></td>
            </tr>
        <%end%>
        </tbody>
    </table>
</div>