<% if $message=="not"%>
	<h2><%= notice %></h2>
<%else%>

<h1> My Coupons </h1>

<hr>

 <% @my_coupons.each do |f| %>


<div class="jumbotron">

       <%= f.coupon_title%>

 </div>

 	<% end %>
<% end%>
