<div class="row admin-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-search">Search:</label>
                    <input type="text" class="form-control input-sm" id="pref-search" placeholder="Enter Keyword">
                </div><!-- form group [search] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="filter-category">Category:</label>
                    <select id="filter-category" name="category" class="form-control">
                        <option selected="selected" value="">Select a Categroy</option>
                        <option value="Relationships">Relationships</option>
                        <option value="Life">Life</option>
                        <option value="Inspirational">Inspirational</option>
                        <option value="Health & Well-being">Health & Well-being</option>
                        <option value="Food">Food</option>
                    </select>                                
                </div> <!-- form group [rows] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-orderby">Order by:</label>
                    <select id="pref-orderby" class="form-control">
                        <option>Descending</option>
                        <option value="ascending">Ascending</option>
                    </select>                                
                </div> <!-- form group [order by] --> 
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row admin-row">
    <div class="col-lg-12">
        <h2 class="page-header text-left">Shared Stories</h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text1' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text1' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text2' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text2' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text3' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text3' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text4' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text4' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text5' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text5' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text6' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text6' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>    
</div>
