<html>
<head>
	<title>Post to twitter</title>
	
</head>
<body>
<center> <h2>Compose new Tweet</h2>
	
<hr>
<div style="background-color:lightblue ;height:150px;">
	<br><br>
	<%=  text_area_tag 'query', params[:url], :id => "txt", size: "60x6" %>
</div>
</center>
 <a onclick="run()"><img src="assets/tweet.jpeg" style=" width:90px;height:50px"></a> 

 <script>
    function run(){
var txt = document.getElementById('txt').value;

window.opener.location.href = "post?p=" + txt;
self.close();
}


    </script>
</body>
</html