<html>
<head>
	<title>Post to twitter</title>
</head>
<body>
<center> <h2>Compose new Tweet</h2></center>
<hr>
<div style="background-color:#F0F8FF ;height:300px;">
	<br><br>
	<%=  text_area_tag 'query', 'Enter your search query here', :id => "txt", size: "66x6" %>
</div>
 <button onclick="run()"><img src="assests/tweet.png"</button> 

 <script>
    function run(){
var txt = document.getElementById('txt').value;

alert(txt);
window.opener.location.href = "post?p=" + txt;
self.close();
}


    </script>
</body>
</html