<div class="row admin-row">
        <div class="col-lg-12">
            <h2 class="page-header col-lg-8 text-left">Referral Link</h2>
        </div>
        <p>Share the referral link with your friends and get them signed up using this link to get free mobile recharge of worth &#8377;100!</p>
        <div class="col-md-offset-1 col-md-3">
        	<button href="#" id = "but" onclick="generate_url( <%=current_user.uid %>, '<%=root_url%>');" class="btn btn-primary btn-sm">Generate Referral Link</button>
        </div>
        <div class="input-group col-md-5">
            <span class="input-group-addon">
                <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#g_url' title='Click here to copy to clipboard.'>
                <i class="fa fa-copy"></i>
            </button>
            </span>
            <input type="text" id="g_url" class="form-control">
        </div>
</div>        
