<div class="col-md-offset-2 col-md-8">
	<!-- panel-->
	<div class="panel panel-theme">
		
		<!-- panel-heading -->
		<div class="panel-heading">
			<p class="text-center panel-title">
				<i class="fa fa-gear"></i> Account Settings
			</p>
		</div>

		<!-- panel-body -->
		<div class="panel-body">
			
			<!-- Connect With Twitter -->	
			<div class="row">
				<h4>Social Network </h4>
				<hr>
				<div class="form-group">
					<div class="col-md-2"><label for="" class="label-control">Connected Via:</label></div>
					<div class="col-md-8">
						<% if twitter_user %>
			                <a class="btn btn-block btn-social btn-twitter">
			                    <span class="fa fa-twitter"></span> Hello, <%= twitter_user.twitter_name %>
			                </a>
			            <% else %>    
			                <a class="btn btn-block btn-social-icon btn-twitter" id="sign_in" href="/auth/twitter">
			                    <span class="fa fa-twitter"></span> Connect with Twitter
			                </a>
		            	<% end %>
	            	</div>
				</div>
			</div>	

			<!-- Subscribe to notifications -->
			<div class="row">

			<form class="form" action="/settings" method="get">    <!--form to activate notifications  -->


				<hr>
				<h4>Get Notifications Via 
</h4>
				<hr>

				<!-- E-mail field -->
				<div class="form-group">
				
				<div class="col-md-2"><label for="" class="label-control">Email:</label></div>
					
					<div class="col-md-8">
		<input type="email" placeholder="Enter Email" name="email" class="form-control" value="<%= current_user.email %>"></div>
					
					<button class="btn btn-theme">Submit</button>
				</div>
					
				<div class="col-md-6">
					<hr>
				</div>
				<div class="col-md-1">
					OR
				</div>
				<div class="col-md-5">
					<hr>
				</div>

				<!-- Mobile Number field -->
				<div class="form-group">
					<div class="col-md-2"><label for="" class="label-control">SMS:</label></div>
					<div class="col-md-8">

		<input type="text" placeholder="Enter Mobile Number" name="contact" class="form-control" value="<%= current_user.contact %>"></div>
					
					<button class="btn btn-theme">Submit</button>
				</div>
                
                 </form>  <!--form to activate notifications  -->

							</div>
			
		</div>
		<!--./panel-body-->
	</div>
	<!--./panel-heading -->
</div>
<!-- ./panel -->	
