<div class="col-md-offset-2 col-md-8">
	<!-- panel-->
	<div class="panel panel-theme">
		<!-- panel-heading -->
		<div class="panel-heading">
			<p class="text-center panel-title">
				<i class="fa fa-gear"></i> Account Settings
			</p>
		</div>

		<!-- panel-body -->
		<div class="panel-body">
			
			<!-- Connect With Twitter -->	
			<div class="row settings-row">
				<div class="col-md-12">
					<div class="col-md-4">
						<hr>
					</div>
					<div class="col-md-4">
						<h4>Social Network </h4>
					</div>
					<div class="col-md-4">
						<hr>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3"><label for="" class="label-control">Connect Via:</label></div>
					<div class="col-md-8">
						<% if twitter_user %>
			                <a class="btn btn-block btn-social btn-twitter">
			                    <span class="fa fa-twitter"></span> Hello, <%= twitter_user.twitter_name %>
			                </a>
			            <% else %>    
			                <a class="btn btn-block btn-social-icon btn-twitter" id="sign_in" href="/auth/twitter">
			                    <span class="fa fa-twitter"></span> Connect with Twitter
			                </a>
		            	<% end %>
	            	</div>
				</div>
			</div>	

			<!-- Subscribe to notifications -->
			<div class="row settings-row">
				<div class="col-md-12">
					<div class="col-md-3">
						<hr>
					</div>
					<div class="col-md-6">
						<h4>Get Notifications Via Email </h4>
					</div>
					<div class="col-md-3">
						<hr>
					</div>
				</div>
				<!--form to activate notifications via email-->
				<form action="/settings_save_email" method="get">    
				
					<!-- E-mail field -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="" class="label-control">Email:</label>
						</div>
						<div class="col-md-8">
							<input type="email" placeholder="Enter Email" name="email" class="form-control" value="<%= current_user.email %>">
						</div>
					</div>
				    <input type="submit" class="btn btn-theme" value="submit" >
				
                 </form>  
			</div>
	
			
			<!-- Subscribe to notifications -->
			<div class="row settings-row">
				<div class="col-md-12">
					<div class="col-md-3">
						<hr>
					</div>
					<div class="col-md-6">
						<h4>Get Notifications Via SMS </h4>
					</div>
					<div class="col-md-3">
						<hr>
					</div>
				</div>

				<!--form to activate notifications via phone -->
				<form action="/settings_save_contact" method="get">    
					<!-- Mobile Number field -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="" class="label-control">SMS:</label>
						</div>
						<div class="col-md-8">
							<input type="text" placeholder="Enter Mobile Number" name="contact" class="form-control" value="<%= current_user.contact %>">
						</div>
					</div>
	                <input type="submit" class="btn btn-theme" value="submit" >
	            </form> 

			</div>
		</div>
		<!--./panel-body-->
</div>
<!-- ./panel -->	



