<div id="stories">
    <div class="row admin-row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="pref-search">Search:</label>
                        <input type="text" class="form-control input-sm search" id="pref-search" placeholder="Enter Keyword">
                    </div><!-- form group [search] -->
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="filter-category">Category:</label>
                        <select id="filter-category" name="category" class="form-control">
                            <option selected="selected" value="">Select a Category</option>
                            <option value="Relationships">Relationships</option>
                            <option value="Life">Life</option>
                            <option value="Inspirational">Inspirational</option>
                            <option value="Health and Well-being">Health and Well-being</option>
                            <option value="Food">Food</option>
                        </select>                                
                    </div> <!-- form group [Category] -->
                    <div class="form-group">
                        <label class="label-control" style="margin-right:0;" for="pref-orderby">Order by:</label>
                        <select id="pref-orderby" class="form-control">
                            <option>Descending</option>
                            <option value="ascending">Ascending</option>
                        </select>                                
                    </div> <!-- form group [order by] --> 
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row admin-row list">
        <% @stories.each do |story|%>
          <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <%= render 'user_panel/story', story: story %>
        </div>
        <%end%>
    </div>
</div>
<div id="popover_content_wrapper" style="display: none">
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Like - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Share - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Comment - 3&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>ReTweet - 5&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Favorite - 2&#8377;
    </a>
    <a class="btn btn-xs btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>Converstion - 3&#8377;   
    </a>
</div>
