<div class="row admin-row">
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/600x300" alt="">
            <div class="caption">
                <h5>10 Things That Will Give Early 2000s Tweens Severe Flashbacks
                </h5>         
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
