<div class="row admin-row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-search">Search:</label>
                    <input type="text" class="form-control input-sm" id="pref-search" placeholder="Enter Keyword">
                </div><!-- form group [search] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-perpage">Category:</label>
                    <select id="pref-perpage" class="form-control">
                        <option value="6">Relationships</option>
                        <option value="7">LIfe</option>
                        <option value="8">Inspirational</option>
                        <option value="9">Health & Well-being</option>
                        <option selected="selected" value="10">Food</option>
                    </select>                                
                </div> <!-- form group [rows] -->
                <div class="form-group">
                    <label class="label-control" style="margin-right:0;" for="pref-orderby">Order by:</label>
                    <select id="pref-orderby" class="form-control">
                        <option>Descending</option>
                        <option value="ascending">Ascending</option>
                    </select>                                
                </div> <!-- form group [order by] --> 
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row admin-row">
    <% @stories.each do |story|%>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
                <%if !story.image_url.nil?%>
                    <img class="img-responsive" src="<%= story.image_url %>" alt="">
                <%else%>
                    <img class="img-responsive" src="http://placehold.it/600x300" alt="">
                <% end %>
                <%if !story.title.nil?%>
                    <div class="caption">
                        <h5><%= story.title %></h5>         
                    </div>
                <% else %>    
                    <div class="caption">
                        <h5>Unable to fetch</h5>         
                    </div>
                <% end %>

            <div class="input-group">
                <span class="input-group-addon">
                    <button class='my_clip_button btn btn-primary btn-xs' data-clipboard-target='#fe_text1' title='Click here to copy to clipboard.'>
                    <i class="fa fa-copy"></i>
                </button>
                </span>
                <input type="text" id='fe_text1' class="form-control" value="URL Text">
            </div>                                
            <ul class="list-inline">
                <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <%end%>
        
</div>
