<div id="stories">
    <%= render 'searchbox' %>
    <hr>
    <div class="row admin-row list">
        <% @stories.each do |story|%>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <%= render 'user_panel/story', story: story %>
            </div>
        <%end%>
    </div>
</div>
<%= render 'paypopover' %>