<div id="stories">
	<!-- Search, filter panel -->
	<%= render 'searchbox', categories: @categories, selected: @selected %>

	<!-- All stories panel -->
	<div class="row admin-row list">
	    <div class="col-lg-12">
	        <h2 class="page-header text-left">Shared Stories</h2>
	    </div>
    	<%= render partial:'mystory'%>        
	</div>
</div>    