// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinActiveColor: #00284d;
$skinHeaderBck: #00284d;
$panelHeaderBck: #00284d;
$secondary-color: #000000 !default;
$form-label-color: #000000;
// Active Admin's got SASS!
@import "bootstrap-sprockets";
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
@import "bootstrap";
@import "font-awesome";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//	
//   .status_tag { background: #6090DB; }
