/*--- Publisher panel ---*/

    /*variable declaration*/
    $primary-color: #352f44;
    $primary-background: rgb(244, 244, 244);
    $secondary-color: #fff;

    /*---MIXIN--*/
        /*MIXIN FOR BROWSER PREFIXES*/
        @mixin prefix($property, $value, $prefixes: ()) {
            @each $prefix in $prefixes {
            #{'-' + $prefix + '-' + $property}: $value;
            }

            // Output standard non-prefixed declaration
            #{$property}: $value;
        }
        /*MIXIN FOR POPOVER TITLE*/
        @mixin popover($padding-value,$font-value,$line-value){
            padding:$padding-value;
            font-size:$font-value;
            line-height:$line-value;
        }
    
    /*Top navigation bar*/
    .navbar {
        margin-bottom: auto;
        background: $secondary-color;
    }

        /*Site identity header*/
        .navbar-header>.navbar-brand {
            font-family: "Source Sans Pro", Arial, sans-serif;
            font-size: 30px;
            font-weight: 700;
            color: rgb(97,  115,  244);
            width: 250px;
            background:  $secondary-color;
            &:hover, &:focus {
                color: #999999;    
            }
        }
        
        /*Account-settings,signout dropdown*/
        .navbar-col>ul.navbar-nav>li>a {
            color: rgb(97,  115,  244);
            &:hover, &:focus {
                background: rgb(231,  231,  231);    
            }
        }
        .navbar-default .navbar-nav>.open>a {
            background: rgb(231,  231,  231);
        }
        .navbar-col>ul.navbar-nav>.dropdown>.dropdown-menu{
            min-width: inherit;
        }
        .navbar-col>ul.navbar-nav>.dropdown>.dropdown-menu>li>a {
            color: rgb(97,  115,  244);
            font-size: 1em;
            font-weight: bold;
            &:hover, &:focus{
                color: #998;    
            }
        }
        .navbar-collapse {
            padding-left: 0px;
        }
        #fb_logout{&:hover{
            cursor: pointer;
        }}

    /*Wrapper for sidebar and page-content*/
    #wrapper {
        padding-left: 0;
        min-height: 100%;
        @include prefix(transition, all 0.5s ease, webkit moz o);
    }
    #wrapper.toggled {
        padding-left: 250px;
    }

        /* Sidebar */
        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 250px;
            width: 0;
            height: 100%;
            margin-left: -250px;
            overflow-y: auto;
            background: $primary-color;
            @include prefix(transition, all 0.5s ease, webkit moz o);
        }
        #wrapper.toggled #sidebar-wrapper {
            width: 220px;
        }
        .sidebar-nav {
            position: relative;
            top: 0;
            width: 220px;
            height:100%;
            margin: 0;
            padding: 0;
            list-style: none;
            
            li {
                text-indent: 10px;
                line-height: 50px;
            }

            a {
                display: block;
                text-decoration: none;
                color: $secondary-color;
                text-indent: -20px;

                &:hover {
                    text-decoration: none;
                    color: $secondary-color;
                    background: rgba(255, 255, 255, 0.2);
                }
            }

            a.active {
                text-decoration: none;
                color: #F5F5F5;
                background: rgba(255, 255, 255, 0.1);
            }
        }
        #demo li, #demo1 li {
            list-style: none;
            margin: auto 0px;
            text-indent: 20px;
        }
        #menu-toggle{
            width:50px;
        }

        /* page content wrapper*/
        #page-content-wrapper {
            width: 100%;
            height: 100%;
            min-height:100%;
            position: relative;
            padding: 15px;
            margin-top: 170px;
        }

            /* settings */
            .settings-row {
                margin-bottom: 20px;
            }

            /* content box for stories */
            .admin-row {
                background: $primary-background;
                padding: 10px 10px;
            }

            /* Coupon Button */
            .coupon-btn {
                width:30%;
            }

            /* Image Thumbnail */
            .thumbnail-image{
                border: 1px solid #e7e7e7;
                cursor: pointer;
            }
    
            /* page-header styling*/
            .page-header{
                color:rgb(97, 115, 244);
                margin-top: 0px;
            }

            /* seach panel box*/
            .filter-row{
                background: $primary-background;
                padding: 10px 10px 0px;
            }

            /* stories styling */
                /* Disable anchor tag */
                button.disabled, a.disabled{
                    cursor:not-allowed;
                    pointer-events:none;
                    opacity:.65;
                    filter:alpha(opacity=65);
                    @include prefix(box-shadow, none, webkit);
                }
                /* generate url group */
                .gen-group{
                    -moz-margin-bottom: 11.8px;
                    margin-bottom: 10px;
                }
                /* input-group-addon */
                .input-group-addon{
                    padding:4px;    
                }
                /* rate icon position in post */
                .fa-stack{
                    vertical-align: bottom;
                }
                .rate{
                  padding-top:8px;
                }
                /* story caption Wapping*/
                .caption{
                    height: 70px;
                    margin-top: -10px;
                }

            /* User statistics */
                /* stats box row */
                .stats {
                    background: $primary-background;
                    padding-top: 20px;
                }

                /* stats attribute */
                .stats-name{
                    margin-top: -15px;
                }
                .medium{
                    font-size: 20px;
                    font-weight: bold;
                }

                /*stats attribute value*/
                .stats-num{
                    margin-top: -20px;
                }
                .huge {
                    font-size: 50px;
                    display:inline;
                    margin-right: 2px;
                }

    /* Custom components */
        /* theme button */
        .btn-theme {
            background-color: $primary-color;
            color: $secondary-color;
        }

        /* theme panel*/
        .panel-theme {
            border-color: $primary-color;
            .panel-heading {
                border-color: $primary-color;
                color: $secondary-color;
                background-color: $primary-color;
            }
        }

        /* green panel */
        .panel-green {
            border-color: #5cb85c;
            .panel-heading {
                border-color: #5cb85c;
                color: $secondary-color;
                background-color: #5cb85c;
            }
        }

        /* grey panel*/
        .panel-grey {
            border-color: #e7e7e7;
            .panel-heading {
                border-color: #e7e7e7;
                color: #fff;
                background-color: #e7e7e7;
            }
        }


/* Desktop Screens */
@media (min-width: 768px) {
    .popover {
        width:200px;
    }
    .popover-title {
        @include popover(4px 10px, 14px, 18px);
    }
    .popover-content {
        padding: 4px 10px;
    }
    
    #wrapper {
    padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;

        #page-content-wrapper {
            width:80%;
            margin-left: 250px;
            position: relative;
        }
    }
    #sidebar-wrapper {
        width: 220px;
    }
    .nav-icon{
        position:absolute;
        left:65px;
    }
    .nav-dropdown-icon{
        position: absolute;
        left:75px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        margin-top: 50px;
    }
}


/* Tablet Responsiveness */
@media (min-width: 481px) and (max-width: 767px){
    .popover {
        width:180px;
    }
    .popover-title {
        @include popover(4px 10px, 14px, 16px);
    }
    .popover-content {
        padding: 4px 10px;
    }
    #sidebar-wrapper{
        margin-top:-10px;
    }
    .nav-icon{
        position:absolute;
        left:65px;
    }
    .nav-dropdown-icon{
        position: absolute;
        left:75px;
    }
    #page-content-wrapper {
        margin-top: 130px;
    }
}

/* Mobile responsiveness*/
@media (max-width: 480px){
    .popover {
        width:170px;
    }
    .popover-title {
        padding: 4px 6px;
        font-size: 14px;
        line-height: 14px;
        @include popover(4px 6px, 14px, 14px);
    }
    .popover-content {
        padding: 4px 6px;
        font-size:12px;
    }
    #sidebar-wrapper{
        margin-top:-10px;
    }
    #page-content-wrapper {
        margin-top: 130px;
    }
    .sidebar-nav{
        width:100%;
    }
    #wrapper.toggled{
        padding-left: 0px;
        #sidebar-wrapper {
            width: 100%;
            height: 40%;
        }    
    }
}   

/* Smaller Mobile Screens */
@media (max-width: 314px ){
    #sidebar-wrapper{
        margin-top:0px;
    }
    #page-content-wrapper {
        margin-top: 170px;
    }
}
