@import "landing/landing_animation.min.scss";
@import "landing/owl.carousel.min.scss";
@import "landing/owl.theme.default.min.scss";

#fh5co-features, #fh5co-press, #fh5co-testimonials, #footer{
	padding: 2em 0;
}

#fh5co-our-services{
	padding-top: 7em 0;
}

/*Carousel-Images*/
#c1{
	background: image-url('c1.jpg');
}
#c2{
	background: image-url('c2.png')
}

@-moz-document url-prefix() {
	#twitter-widget-0, #twitter-widget-1, #twitter-widget-2 { 
	    width: 100% !important; 
	}
}

.panel-contact{
	border:0;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 20px;
}

#sign-up,#register{
	color:#61A0F4;
	border-bottom: 0;
	&:hover {
		border-bottom:1px solid rgba(255, 255, 255, 0.5);
	}
}

#stats h2{
	color:#6173f4;
}

.advertisement{
	padding: 2em 0;
}
.advertisement .section-heading {
	padding-bottom: 0;
	margin-bottom: 0;
	h2 {
	    color: #000;
	    &:after {
			background: rgba(0, 0, 0, 0.2);
	    }
	}
}

