@import "landing/landing_animation.min.scss";
@import "landing/owl.carousel.min.scss";
@import "landing/owl.theme.default.min.scss";

#fh5co-features, #fh5co-press, #fh5co-testimonials{
	padding: 2em 0;
}

.panel-contact{
	border:0;
}

#sign-up{
	color:#6173f4;
	border-bottom: 0;
	&:hover {
		border-bottom:1px solid rgba(255, 255, 255, 0.5);
	}
}

#stats h2{
	color:#6173f4;
}

.advertisement{
	padding: 2em 0;
}
.advertisement .section-heading {
	padding-bottom: 0;
	margin-bottom: 0;
}
.advertisement .section-heading h2 {
    color: #000;
}
.advertisement .section-heading h2:after {
    background: rgba(0, 0, 0, 0.2);
}
.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
